* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 238, 240);
    background-image: url('./images/night.jpg');
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 600px;
    max-width: 90%;
    text-align: center;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 8px;
}

.main>h1 {
    font-size: 30px;
    color: rgb(26, 25, 25);
    margin: 0 0 30px 0;

}

.main>input {
    text-align: center;

}

#search {
    color: burlywood;
    background-color: antiquewhite;
}

#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 110%;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5%;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5%;

}